In [47]:
import pandas as pd
import plotly.graph_objects as go
from datetime import datetime
import plotly
import france_data_management as data

In [22]:
df_capa = pd.read_csv("/Users/guillaumerozier/Downloads/sp-capa-quot-fra-2020-10-18-19h15.csv", sep=";")

In [41]:
df, df_confirmed, dates, df_new, df_tests, df_deconf, df_sursaud, df_incid, df_tests_viros = data.import_data()

  0%|          | 0/4 [00:00<?, ?it/s]
 75%|███████▌  | 3/4 [00:01<00:00,  2.39it/s]

       dep        jour        pop     P  cl_age90 departmentCode  \
128700  75  2020-05-13   198578.0     0         9             75
128701  75  2020-05-13   208074.0     0        19             75
128702  75  2020-05-13   386230.0     6        29             75
128703  75  2020-05-13   332595.0     2        39             75
128704  75  2020-05-13   277369.0     2        49             75
...     ..         ...        ...   ...       ...            ...
130411  75  2020-10-15   213755.0   130        69             75
130412  75  2020-10-15   163119.0    53        79             75
130413  75  2020-10-15    82607.0    20        89             75
130414  75  2020-10-15    26637.0     9        90             75
130415  75  2020-10-15  2148271.0  1387         0             75

       departmentName  regionCode     regionName      T   incidence  \
128700          Paris        11.0  Ile-de-France   1448         NaN
128701          Paris        11.0  Ile-de-France   1448         NaN
128702          Paris        11.0  Ile-de-France   1448         NaN
128703          Paris        11.0  Ile-de-France   1448         NaN
128704          Paris        11.0  Ile-de-France   1448         NaN
...               ...         ...            ...    ...         ...
130411          Paris        11.0  Ile-de-France  10299  346.658558
130412          Paris        11.0  Ile-de-France  10299  215.180328
130413          Paris        11.0  Ile-de-France  10299  165.845509
130414          Paris        11.0  Ile-de-France  10299  176.446297
130415          Paris        11.0  Ile-de-France  10299  416.800301

         incidence_color
128700     Risque Faible
128701     Risque Faible
128702     Risque Faible
128703     Risque Faible
128704     Risque Faible
...                  ...
130411   Alerte Maximale
130412  Alerte Renforcée
130413  Alerte Renforcée
130414  Alerte Renforcée
130415   Alerte Maximale

[1716 rows x 12 columns]

In [54]:
df_tests_viros = df_tests_viros.groupby(["jour"]).sum().reset_index()
df_tests = df_tests.groupby(["jour"]).sum().reset_index()

In [53]:
df_tests

       dep        jour clage_covid  nb_test  nb_pos
0       01  2020-03-10           0        0       0
6       01  2020-03-11           0        0       0
12      01  2020-03-12           0        0       0
18      01  2020-03-13           0        0       0
24      01  2020-03-14           0        0       0
...    ...         ...         ...      ...     ...
47238  976  2020-05-22           0        0       0
47244  976  2020-05-23           0        0       0
47250  976  2020-05-24           0        0       0
47256  976  2020-05-25           0        0       0
47262  976  2020-05-26           0        0       0

[7878 rows x 5 columns]

In [56]:
title = "<b>Estimations des cas</b> du Covid19 à partir des décès<br>"
sub = "Hypothèses : taux de mortalité de 0,5 % ; décalage de 21 j. entre cas et décès"

fig = go.Figure()

#estimated_rolling = df_france.diff().rolling(window=7).mean().shift(-21).dropna()/0.005
#confirmed_rolling = df_france.diff().rolling(window=7, center=True).mean()

fig.add_trace(go.Scatter(
    x = df_tests_viros["jour"],
    y = df_tests_viros["T"],
    name = "Est.",
    marker_color='black',
    line_width=6,
    opacity=0.6,
    fill='tozeroy',
    fillcolor="rgba(0,0,0,0.3)",
    showlegend=False
))

fig.add_trace(go.Scatter(
    x = df_tests["jour"],
    y = df_tests["nb_test"],
    name = "Conf",
    marker_color='red',
    line_width=4,
    opacity=0.8,
    fill='tozeroy',
    fillcolor="rgba(201, 4, 4,0.3)",
    showlegend=False
))

fig.update_yaxes(zerolinecolor='Grey', tickfont=dict(size=18))
fig.update_xaxes(nticks=10, ticks='inside', tickangle=0, tickfont=dict(size=18))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(
    margin=dict(
            l=50,
            r=0,
            b=50,
            t=70,
            pad=0
        ),
    legend_orientation="h",
    barmode='group',
    title={
                'text': title,
                'y':0.95,
                'x':0.5,
                'xanchor': 'center',
                'yanchor': 'top'},
                titlefont = dict(
                size=30),
    xaxis=dict(
            title='',
            tickformat='%d/%m'),

                 )

fig.write_image("images/charts/france/{}.jpeg".format("test_asuppr"), scale=2, width=900, height=600)

#plotly.offline.plot(fig, filename = 'images/html_exports/france/{}.html'.format(t), auto_open=False)
print("> " + "name_fig")

> name_fig